<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Calcular Comisión</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
</head>
<body>
<div class="card">
    <div class="card-header">
        CALCULAR COMISIÓN
    </div>
    <div class="card-body">
        <form th:action="@{/calcularComision}" th:object="${comisionmodel}" method="post">
            <div class="mb-3">
                <label for="ventas" class="form-label">Ingrese sus ventas:</label>
                <input type="number" class="form-control" id="ventas" th:field="*{ventasMensuales}" required>
            </div>
            <div class="mb-3">
                <label for="comision" class="form-label">COMISIÓN CALCULADA:</label>
                <input type="text" class="form-control" id="comision" th:value="${comisionCalculada}" readonly>
            </div>
            <button type="submit" class="btn btn-outline-success">CALCULAR COMISION</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
        CALCULE SU DESCUENTO POR ANTIGUEDAD:
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="txtpreciop" class="form-label">Ingrese el precio de su producto:</label>
                <input type="number"  class="form-control" id="txtpreciop" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtaños" class="form-label">Ingrese los años comprando en la tienda :</label>
                <input type="number"  class="form-control" id="txtaños" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtdescuento" class="form-label">USTED TIENE UN DESCUENTO DE:</label>
                <input type="number" class="form-control" id="txtdescuento" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtpreciof" class="form-label">SU TOTAL A PAGAR ES DE:</label>
                <input type="number" class="form-control" id="txtpreciof" placeholder="name@example.com">
            </div>
            <button type="submit"
                    class="btn btn-outline-danger">CALCULE SU DESCUENTO</button>
        </form>
    </div>
</div>

<div class="card">
    <div class="card-header">
       BONIFICACION POR PUNTUALIDAD DE PAGOS :
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="txtdias" class="form-label">INGRESE LOS DIAS EN LOS QUE HIZO SU PAGO :</label>
                <input type="number"  class="form-control" id="txtdias" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txttotal" class="form-label">SU TOTAL A PAGAR CON BONIFICACION ES DE :</label>
                <input type="number" class="form-control" id="txttotal" placeholder="name@example.com">
            </div>
            <button type="submit"
                    class="btn btn-outline-warning">CALCULE SU BONO</button>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-header">
         IMPUESTOS SEGUN TIPO DE PRODUCTO:
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="txtcategoria" class="form-label">Ingrese la categoria de su producto :</label>
                <input type="text"  class="form-control" id="txtcategoria" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtproduc" class="form-label">Ingrese el precio de su producto:</label>
                <input type="number" class="form-control" id="txtproduc" placeholder="name@example.com">
            </div>
            <button type="submit"
                    class="btn btn-outline-primary">CALCULE SU TOTAL</button>
        </form>
    </div>
</div>
</body>
</html>
