<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">

</head>
<body>
<div class="card">
    <div class="card-header">
        CALCULAR COMISION
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="txtsueldo" class="form-label">Ingrese su sueldo :</label>
                <input type="number"  class="form-control" id="txtsueldo" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="txtcomision" class="form-label">COMISION CALCULADA:</label>
                <input type="number" class="form-control" id="txtcomision" placeholder="name@example.com">
            </div>
            <button type="submit"
                    class="btn btn-primary">CALCULAR</button>
        </form>
    </div>
</div>
</body>
</html>